body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    font-family: sans-serif;
    height: 100vh;
    margin: 0;
    position: relative;
}

h1{
    text-align: center;
    font-size: 2.2rem;
}

#container {
  width: min(100%,1200px);
  display: flex;
  flex-direction: column;
}

.day-container {
  margin: 10px 0;
}

.day-label {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.day-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.sunrise-label,
.sunset-label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.hourly-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.hourly-table th,
.hourly-table td {
  padding: 2vh 0.7vw;
  text-align: left;
  border-bottom: 1px solid #111;
}


.hourly-table th {
  background-color: #999;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}

.hourly-table td {
  font-size: 1.2rem;
}

.hidden {
    display: none;
}

button {
  float: left;
  position: fixed;
  bottom: 30px;
  left: 30px;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  border: none;
  font-size: 2rem;
}
button:hover{
    cursor: pointer;
    background-color: #777;
    color: white;
    border: 1px solid black;
}
form {
  /* centering */
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

  height: 300px;
  display: flex;
  padding: 50px;
  flex-direction: column;
  background-color: #bbb;
  box-shadow: 10px 10px 10px #555;
  border-radius: 5px;
  font-size: 1.2rem;
}
form *{
    margin: 5px 0;
    padding: 0;
}

form h1 {
  margin-bottom: 10px;
}

form p {
  font-size: 1.2em;
}

form input[type="text"] {
  width: 92%;
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 8px 12px;
  font-size: 1em;
}

form input[type="submit"] {
  border: none;
  border-radius: 10px;
  background-color: #888;
  color: white;
  font-size: 1em;
  cursor: pointer;
  padding: 10px 0;
  text-align: center;
}

form input[type="submit"]:hover{
  background-color: #666; 
  background-color: #999;
  color: black;
}

form input[type="radio"] {
  margin: 0 10px;
}